/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.main-container {
  margin-top: 16px;
  padding: 12px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.botones .mat-flat-button {
  margin-right: 8px;
}

.gm-ui-hover-effect {
  top: 0 !important;
  right: 0 !important;
}
